body {
    background-image: url("bg001.jpg");
    color: aliceblue;
    font-family: Garamond, serif;
}

div#nama {
    margin: 6%;
    text-align: center;
    font-size: 7vh;
}

div.main {
    font-family: 'monospace', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 2.5vh;
    background-color: rgba(0, 150, 241, 0.1);
    margin: 6%;
    padding: 2%;
    border-style: solid;
    border-color: rgba(0, 150, 255, 0.425);
}

#logo {
    margin: 0;
    padding: 0;
    height: 30vh;
    width: 30vh;
    background: url("./logo/logo123.png") left center;
    background-size: cover;
    animation: play 1.5s steps(3) infinite;
    display: inline-block;
}



@keyframes play {
    from{background-position: 0vh;}
    to{background-position: -90vh;}
}




#category >  {

    display: flex;
    flex-direction: row;
}

button {
    border: none;
    margin: 2%;
    width: 20vw;
    height: 20vw;
    text-align: center;
    background-color: rgba(88, 88, 88, 0);
}

#aboutMe {
    background-image: url("./imgButton/fanart001.png");
    background-size: cover;
}


@media (max-width: 800px) {
    #category {
        display: flex;
        flex-direction: column;
    }
    button{
        border: none;
        margin: 2%;
        width: 50vw;
        height: 50vw;
    }
}

