body {
    background-image: url("bg001.jpg");
    color: aliceblue;
    font-family: Garamond, serif;
}

div#nama {
    margin: 6%;
    text-align: center;
    font-size: 7vh;
}

.main {
    font-family: 'monospace', 'Lucida Sans Unicode';
    color: white;
    text-align: center;
    font-size: 2.5vh;
    background-color: rgba(0, 150, 241, 0.1);
    margin: 6%;
    padding: 2%;
    border-style: solid;
    border-color: rgba(0, 150, 255, 0.425);
}

#logo {
    margin: 0;
    padding: 0;
    height: 30vh;
    width: 30vh;
    background: url("./logo/logo123.png") left center;
    background-size: cover;
    animation: play 1.5s steps(3) infinite;
    display: inline-block;
}



@keyframes play {
    from{background-position: 0vh;}
    to{background-position: -90vh;}
}




#category >  {
    border-style: solid;
    border-color: rgba(0, 150, 255, 0.425);
    display: flex;
    flex-direction: row;
}

button {
    border-style: solid;
    border-color: rgba(0, 150, 255, 0.425);
    margin: 2%;
    width: 15vw;
    height: 15vw;
    text-align: center;
    background-color: rgba(88, 88, 88, 0);
}

#log {
    background: url("./imgButton/log_a.png");
    background-size: cover;
}

#cv {
    background: url("./imgButton/cv_a.png");
    background-size: cover;
}

#ai {
    background: url("./imgButton/ai_a.png");
    background-size: cover;
}

#wf {
    background: url("./imgButton/wf_a.png");
    background-size: cover;
}

@media (max-width: 800px) {

    button{
        border-style: solid;
        border-color: rgba(0, 150, 255, 0.425);
        margin: 2%;
        width: 40vw;
        height: 40vw;
    }
    #category {
        display: flex;
        flex-direction: column;
    }
}

/*game001*/

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    border-style: solid;
    border-color: rgba(0, 150, 255, 0.425);
    background-color:rgba(0, 150, 255, 0.3);
}

.grid div {
    width: 20px;
    height: 20px;

}
